@model Recipes.Models.RecipeViewModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
<body>

<h1 style="margin-bottom: 20px;">Details</h1>
    <img id="urlImg" src=@Model.ImageUrl style="position:relative; z-index:0; width:100%;height:100%"/>

<div>
    <h4 style="margin-top: 20px;">Recipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Created Date")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complexity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complexity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Preparation Time")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreparationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Image Url")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Recipe Steps")
        </dt>
       
        <dd class="col-sm-10">
            <div>
                <!-- Display existing recipe steps -->
                @for (var i = 0; i < Model.RecipeSteps.Count; i++)
                {
                    <p><strong>Step @(i + 1):</strong> @Html.DisplayFor(model => model.RecipeSteps[i].Description)</p>
                }
            </div>
            
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" type="button" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" type="button" class="btn btn-primary">Back to List</a>
</div>
</body>
